@font-face {
	font-family: iAWriterDuoS;
	font-style: normal;
	src: url("../fonts/iAWriterDuoS-Regular.woff2") format("woff2");
}
@font-face {
	font-family: iAWriterDuoS;
	font-style: italic;
	src: url("../fonts/iAWriterDuoS-Italic.woff2") format("woff2");
}

h1 {
	font-family: iAWriterDuoS;
}
h2 {
	font-family: iAWriterDuoS;
}
h3 {
	font-family: iAWriterDuoS;
}
h4 {
	font-family: iAWriterDuoS;
}
h5 {
	font-family: iAWriterDuoS;
}
h6 {
	font-family: iAWriterDuoS;
}
p {
	font-family: iAWriterDuoS;
	font-size: medium;
}
a {
	font-family: iAWriterDuoS;
}
footer {
	font-family: iAWriterDuoS;
}

header.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.center-button {
	display: flex;
	justify-content: center;
}
.center-a {
	display: flex;
	justify-content: center;
}
